form {
  display: inline-block;
}

img {
  width: 100%;
  height: auto;
}

.hidden {
  display: none;
}

#controls {
  display: flex;
}

#display {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
